[submodule "external/tinygltf"]
	path = external/tinygltf
	url = git@github.com:syoyo/tinygltf.git
[submodule "external/SDL"]
	path = external/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "external/stb"]
	path = external/stb
	url = git@github.com:nothings/stb.git
[submodule "external/volk"]
	path = external/volk
	url = git@github.com:gnuradio/volk.git
